.metal-gradient {
  --gradient-color-1: var(--colors-gray2);
  --gradient-color-2: var(--colors-gray3);
  background-image: linear-gradient(
    45deg,
    var(--gradient-color-1),
    var(--gradient-color-2),
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  background-size: 200% 100%;
}
