@import "tailwindcss";

body {
  background-color: #101010;
  color: #ffffff;
  overflow-x: hidden;
}

:root {
  --background: #101010;
  --foreground: #ffffff;
  --accent-cyan: #32C0F0;
  --accent-green: #32FF5F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cyan: var(--accent-cyan);
  --color-green: var(--accent-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #101010;
  --foreground: #ffffff;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

@keyframes scanline {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.animate-scanline {
  animation: scanline 10s linear infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.97;
  }

  5% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  15% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.98;
  }

  25% {
    opacity: 0.95;
  }

  30% {
    opacity: 0.9;
  }

  35% {
    opacity: 0.92;
  }

  40% {
    opacity: 0.96;
  }

  45% {
    opacity: 0.94;
  }

  50% {
    opacity: 0.9;
  }

  55% {
    opacity: 0.93;
  }

  60% {
    opacity: 0.95;
  }

  65% {
    opacity: 0.98;
  }

  70% {
    opacity: 0.94;
  }

  75% {
    opacity: 0.96;
  }

  80% {
    opacity: 0.92;
  }

  85% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.95;
  }

  95% {
    opacity: 0.97;
  }

  100% {
    opacity: 0.98;
  }
}

.animate-flicker {
  animation: flicker 0.15s infinite;
}
